/* CSS file */
Application {
	theme-color: haloSilver;
	background-color: #444444;
}

global {
    modalTransparencyBlur: 10;
    modalTransparency: 0.8;
    modalTransparencyColor: #333333;
    modalTransparencyDuration: 500;
}

Alert {
	backgroundColor: #cccccc;
   	backgroundAlpha: 0.9;
   	borderColor: #cccccc;
   	borderAlpha: 0.9;
   	roundedBottomCorners: true;
   	cornerRadius: 6;
   	dropShadowEnabled: true;
}

TitleWindow {
   	backgroundColor: #cccccc;
   	backgroundAlpha: 0.9;
   	borderColor: #cccccc;
   	borderAlpha: 0.9;
   	roundedBottomCorners: true;
   	cornerRadius: 6;
   	dropShadowEnabled: true;
}

Grid {
	horizontal-gap: 0;
	vertical-gap: 0;
}

GridItem {
	border-color: #000000;
	border-style: solid;
	border-thickness: 1;
}